include:
  - path: 'docker-compose.networks.yml'
  - path: 'bazarr/docker-compose.bazarr.yml'  # Line 6
  - path: 'grafana/docker-compose.grafana.yml'
  - path: 'homeassistant/docker-compose.homeassistant.yml'
  - path: 'hugo/docker-compose.hugo.yml'
  - path: 'jupyter/docker-compose.jupyter.yml'
  - path: 'nextcloud/docker-compose.nextcloud.yml'
  - path: 'nginx/docker-compose.nginx.yml'
  - path: 'portainer/docker-compose.portainer.yml'
  - path: 'sonarr/docker-compose.sonarr.yml'
  - path: 'traefik/docker-compose.traefik.yml'
  - path: 'watchtower/docker-compose.watchtower.yml'
