include:
  - path: 'docker-compose.networks.yml'
  - path: 'bazarr/docker-compose.bazarr.yml'  # Line 6
  - path: 'fivefilters-full-text-rss/docker-compose.fivefilters.yml'
  - path: 'freshrss/docker-compose.freshrss.yml'
  - path: 'grafana/docker-compose.grafana.yml'
  - path: 'heimdall/docker-compose.heimdall.yml'
  - path: 'homeassistant/docker-compose.homeassistant.yml'
  - path: 'homepage/docker-compose.homepage.yml'
  - path: 'hugo/docker-compose.hugo.yml'
  - path: 'jupyter/docker-compose.jupyter.yml'
  - path: 'n8n/docker-compose.n8n.yml'
  - path: 'nextcloud/docker-compose.nextcloud.yml'
  - path: 'nginx/docker-compose.nginx.yml'
  - path: 'nzbhydra2/docker-compose.nzbhydra2.yml'
  - path: 'overseerr/docker-compose.overseerr.yml'
  - path: 'portainer/docker-compose.portainer.yml'
  - path: 'radarr/docker-compose.radarr.yml'
  - path: 'sabnzbd/docker-compose.sabnzbd.yml'
  - path: 'sonarr/docker-compose.sonarr.yml'
  - path: 'traefik/docker-compose.traefik.yml'
  - path: 'watchtower/docker-compose.watchtower.yml'
