name: make-my-server
services:
  alertmanager:
    healthcheck:
      test:
        - CMD
        - wget
        - -q
        - --spider
        - --proxy=off
        - localhost:9092/metrics
    image: prom/alertmanager:v0.21.0
    labels:
      traefik.enable: "true"
      traefik.http.routers.alertmanager.middlewares: basic_auth@docker
      traefik.http.routers.alertmanager.rule: Host(`alertmanager.localhost`)
      traefik.http.services.alertmanager.loadbalancer.server.port: "9093"
    networks:
      srv: null
    restart: always
  bazarr:
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: Europe/Paris
    image: linuxserver/bazarr:v1.2.2
    labels:
      traefik.enable: "true"
      traefik.http.routers.bazarr.middlewares: basic_auth@docker
      traefik.http.routers.bazarr.rule: Host(`bazarr.localhost`)
      traefik.http.services.bazarr.loadbalancer.server.port: "8080"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\bazarr\config
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\bazarr\movies
        target: /movies
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\bazarr\tv
        target: /tv
        bind:
          create_host_path: true
  cadvisor:
    devices:
      - source: /dev/kmsg
        target: /dev/kmsg
        permissions: rwm
    image: gcr.io/cadvisor/cadvisor:latest
    labels:
      traefik.enable: "true"
      traefik.http.routers.cadvisor.middlewares: basic_auth@docker
      traefik.http.routers.cadvisor.rule: Host(`cadvisor.localhost`)
      traefik.http.services.cadvisor.loadbalancer.server.port: "8080"
    networks:
      srv: null
    privileged: true
    restart: always
    volumes:
      - type: bind
        source: /
        target: /rootfs
        read_only: true
        bind:
          create_host_path: true
      - type: bind
        source: /sys
        target: /sys
        read_only: true
        bind:
          create_host_path: true
      - type: bind
        source: /var/lib/docker/
        target: /var/lib/docker
        read_only: true
        bind:
          create_host_path: true
      - type: bind
        source: /var/run
        target: /var/run
        read_only: true
        bind:
          create_host_path: true
  grafana:
    depends_on:
      prometheus:
        condition: service_started
        required: true
    environment:
      GF_ANALYTICS_REPORTING_ENABLED: "false"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
      GF_AUTH_BASIC_ENABLED: "false"
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
      GF_AUTH_DISABLE_SIGNOUT_MENU: "true"
      GF_INSTALL_PLUGINS: grafana-piechart-panel
      GF_METRICS_ENABLED: "true"
      GF_USERS_ALLOW_SIGN_UP: "false"
    healthcheck:
      test:
        - CMD
        - curl
        - 0.0.0.0:3000/healthz
    image: grafana/grafana-oss:7.2.2
    labels:
      traefik.enable: "true"
      traefik.http.routers.grafana.middlewares: basic_auth@docker
      traefik.http.routers.grafana.rule: Host(`grafana.localhost`)
      traefik.http.services.grafana.loadbalancer.server.port: "3000"
    networks:
      srv: null
    restart: always
    user: 1000:1000
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\grafana\grafana
        target: /var/lib/grafana
        bind:
          create_host_path: true
  homeassistant:
    environment:
      GUID: "1000"
      PUID: "1000"
    healthcheck:
      test:
        - CMD
        - curl
        - 0.0.0.0:8123
    image: ghcr.io/home-assistant/home-assistant:stable
    labels:
      traefik.enable: "true"
      traefik.http.routers.homeassistant.rule: |
        Host(`homeassistant.localhost`) && !Path(`/api/prometheus`)
      traefik.http.services.homeassistant.loadbalancer.server.port: "8123"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\homeassistant\config
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
        bind:
          create_host_path: true
  hugo:
    depends_on:
      hugo-builder:
        condition: service_started
        required: true
    healthcheck:
      test:
        - CMD
        - curl
        - 0.0.0.0:80
    image: nginx:stable-alpine
    labels:
      traefik.enable: "true"
      traefik.http.routers.hugo.rule: Host(`hugo.localhost`)
      traefik.http.services.hugo.loadbalancer.server.port: "80"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\hugo\nginx\conf
        target: /etc/nginx/conf.d
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\hugo\nginx\logs
        target: /var/log/nginx
        bind:
          create_host_path: true
  hugo-builder:
    environment:
      HUGO_BASEURL: https://hugo.localhost/
      HUGO_REFRESH_TIME: "3600"
      HUGO_THEME: hugo-theme-cactus-plus
    image: jojomi/hugo:0.59
    labels:
      traefik.enable: "false"
    networks:
      default: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\hugo\blog
        target: /src
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\hugo\nginx\conf\www
        target: /output
        bind:
          create_host_path: true
  jupyter:
    command:
      - jupyter
      - notebook
      - --NotebookApp.token=
      - --NotebookApp.password=
    environment:
      JUPYTER_ENABLE_LAB: "yes"
    image: jupyter/tensorflow-notebook:45f07a14b422
    labels:
      traefik.enable: "true"
      traefik.http.routers.jupyter.middlewares: basic_auth@docker
      traefik.http.routers.jupyter.rule: Host(`jupyter.localhost`)
      traefik.http.services.jupyter.loadbalancer.server.port: "8888"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\jupyter\jupyter\config
        target: /root/.jupyter
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\jupyter\notebooks
        target: /home/jovyan
        bind:
          create_host_path: true
  nextcloud:
    depends_on:
      nextcloud-db:
        condition: service_started
        required: true
    healthcheck:
      test:
        - CMD
        - curl
        - 0.0.0.0:80
    image: nextcloud:latest
    labels:
      traefik.enable: "true"
      traefik.http.middlewares.header-nextcloud.headers.browserXssFilter: "true"
      traefik.http.middlewares.header-nextcloud.headers.contentTypeNosniff: "true"
      traefik.http.middlewares.header-nextcloud.headers.customFrameOptionsValue: SAMEORIGIN
      traefik.http.middlewares.header-nextcloud.headers.referrerPolicy: no-referrer
      traefik.http.middlewares.header-nextcloud.headers.stsincludesubdomains: "true"
      traefik.http.middlewares.header-nextcloud.headers.stspreload: "true"
      traefik.http.middlewares.header-nextcloud.headers.stsseconds: "15552000"
      traefik.http.middlewares.redirect-dav-nextcloud.redirectRegex.permanent: "true"
      traefik.http.middlewares.redirect-dav-nextcloud.redirectRegex.regex: https://nextcloud.localhost/.well-known/(card|cal)dav
      traefik.http.middlewares.redirect-dav-nextcloud.redirectRegex.replacement: https://nextcloud.localhost/remote.php/dav/
      traefik.http.routers.nextcloud.middlewares: header-nextcloud,redirect-dav-nextcloud
      traefik.http.routers.nextcloud.rule: Host(`nextcloud.localhost`)
      traefik.http.services.nextcloud.loadbalancer.server.port: "80"
    networks:
      nextcloud-internal: null
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\nextcloud\data
        target: /var/www/html
        bind:
          create_host_path: true
  nextcloud-db:
    command:
      - --transaction-isolation=READ-COMMITTED
      - --binlog-format=ROW
    environment:
      MYSQL_DATABASE: nextcloud
      MYSQL_PASSWORD: nextcloud
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_USER: nextcloud
    healthcheck:
      test:
        - CMD
        - mysqlcheck
        - --all-databases
        - -ppass
    image: mariadb
    labels:
      traefik.enable: "false"
    networks:
      nextcloud-internal: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\nextcloud\db
        target: /var/lib/mysql
        bind:
          create_host_path: true
  nginx:
    healthcheck:
      test:
        - CMD
        - curl
        - 0.0.0.0:80
    image: nginx:stable-alpine
    labels:
      traefik.enable: "true"
      traefik.http.routers.nginx.rule: Host(`localhost`)
      traefik.http.services.nginx.loadbalancer.server.port: "80"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\nginx\conf
        target: /etc/nginx/conf.d
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\nginx\logs
        target: /var/log/nginx
        bind:
          create_host_path: true
  node_exporter:
    healthcheck:
      test:
        - CMD
        - wget
        - -q
        - --spider
        - --proxy=off
        - localhost:9100/metrics
    image: prom/node-exporter:v1.0.1
    labels:
      traefik.enable: "true"
      traefik.http.routers.node_exporter.middlewares: basic_auth@docker
      traefik.http.routers.node_exporter.rule: Host(`node_exporter.localhost`)
      traefik.http.services.node_exporter.loadbalancer.server.port: "9100"
    networks:
      srv: null
    restart: always
  portainer:
    image: portainer/portainer
    labels:
      traefik.enable: "true"
      traefik.http.routers.portainer.middlewares: basic_auth@docker
      traefik.http.routers.portainer.rule: Host(`portainer.localhost`)
      traefik.http.services.portainer.loadbalancer.server.port: "9000"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\portainer\data
        target: /data
        bind:
          create_host_path: true
  prometheus:
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=30d
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
    depends_on:
      alertmanager:
        condition: service_started
        required: true
      cadvisor:
        condition: service_started
        required: true
      node_exporter:
        condition: service_started
        required: true
    healthcheck:
      test:
        - CMD
        - wget
        - -q
        - --spider
        - --proxy=off
        - localhost:9090
    image: prom/prometheus:v2.22.0
    labels:
      traefik.enable: "true"
      traefik.http.routers.prometheus.middlewares: basic_auth@docker
      traefik.http.routers.prometheus.rule: Host(`prometheus.localhost`)
      traefik.http.services.prometheus.loadbalancer.server.port: "9090"
    networks:
      srv: null
    restart: always
    user: 1000:1000
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\grafana\prometheus\data
        target: /prometheus
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\grafana\prometheus\prometheus.yml
        target: /etc/prometheus/prometheus.yml
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\grafana\prometheus\rules
        target: /etc/prometheus/rules
        bind:
          create_host_path: true
  sonarr:
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: Europe/Paris
    image: linuxserver/sonarr:4.0.0
    labels:
      traefik.enable: "true"
      traefik.http.routers.sonarr.middlewares: basic_auth@docker
      traefik.http.routers.sonarr.rule: Host(`sonarr.localhost`)
      traefik.http.services.sonarr.loadbalancer.server.port: "8080"
    networks:
      srv: null
    restart: always
    volumes:
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\sonarr\config
        target: /config
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\sonarr\downloads
        target: /downloads
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\sonarr\tv
        target: /tv
        bind:
          create_host_path: true
  traefik:
    command:
      - --providers.docker
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=make-my-server_srv
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.myresolver.acme.email=changeme@changeme.org
      - --certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.myresolver.acme.httpchallenge=true
      - --entrypoints.websecure.http.tls.certresolver=myresolver
      - --entrypoints.websecure.http3
      - --accesslog.filepath=/logs/access.log
      - --accesslog.format=json
      - --log.filepath=/logs/traefik.log
      - --log.format=json
      - --log.level=ERROR
      - --metrics.prometheus.addrouterslabels
      - --api.dashboard
      - --entrypoints.websecure.http.middlewares=compress@file,headers@file
      - --experimental.plugins.fail2ban.modulename=github.com/tommoulard/fail2ban
      - --experimental.plugins.fail2ban.version=v0.6.0
      - --global.checknewversion=false
      - --global.sendanonymoususage=false
      - --ping
      - --providers.file.directory=/dynamic_conf/
      - --providers.file.watch=true
    environment:
      TZ: Europe/Paris
    healthcheck:
      test:
        - CMD
        - traefik
        - healthcheck
        - --ping
    image: traefik:v3.0
    labels:
      traefik.enable: "true"
      traefik.http.middlewares.basic_auth.basicauth.removeHeader: "true"
      traefik.http.middlewares.basic_auth.basicauth.users: ""
      traefik.http.routers.traefik.middlewares: basic_auth@docker
      traefik.http.routers.traefik.rule: Host(`traefik.localhost`)
      traefik.http.routers.traefik.service: api@internal
    networks:
      srv: null
    ports:
      - mode: ingress
        target: 80
        published: "80"
        protocol: tcp
      - mode: ingress
        target: 443
        published: "443"
        protocol: tcp
    restart: always
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\traefik\logs
        target: /logs
        bind:
          create_host_path: true
      - type: bind
        source: c:\Users\Ollie\Documents\Github\make-my-server\traefik\dynamic_conf
        target: /dynamic_conf
        bind:
          create_host_path: true
  watchtower:
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_ROLLING_RESTART: "true"
      WATCHTOWER_SCHEDULE: 0 0 2 * * *
    image: containrrr/watchtower:latest
    labels:
      traefik.enable: "false"
    networks:
      default: null
    restart: always
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        bind:
          create_host_path: true
networks:
  default:
    name: make-my-server_default
  nextcloud-internal:
    name: make-my-server_nextcloud-internal
  srv:
    name: make-my-server_srv
