name: 'Tests'

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - '*'
  push: {}

jobs:
  Config-test:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'KengoTODA/actions-setup-docker-compose@v1'
        with:
          version: '2.20.2'
      - uses: 'actions/checkout@v5'
      - name: 'DEBUG'
        run: 'docker version && docker compose version'
      - name: 'Run tests'
        run: './test.sh'
      - uses: 'actions/upload-artifact@v5'
        if: 'failure()'
        with:
          name: 'test-artifacts'
          path: |
            log.log
            *.patch
  # Health-checks-grafana:
  #   uses: 'Oliver-Sheaky/make-my-server/.github/workflows/healthcheck.workflow.tmpl.yml@master'
  #   with:
  #     sus: 'mkdir -p ./grafana/grafana/ ./grafana/prometheus/data/'
  #     service_name: 'grafana'
  Health-checks-homeassistant:
    uses: 'Oliver-Sheaky/make-my-server/.github/workflows/healthcheck.workflow.tmpl.yml@master'
    with:
      service_name: 'homeassistant'
  # Health-checks-hugo:
  #   uses: 'Oliver-Sheaky/make-my-server/.github/workflows/healthcheck.workflow.tmpl.yml@master'
  #   with:
  #     service_name: 'hugo'
  Health-checks-nextcloud:
    uses: 'Oliver-Sheaky/make-my-server/.github/workflows/healthcheck.workflow.tmpl.yml@master'
    with:
      service_name: 'nextcloud'
  Health-checks-nginx:
    uses: 'Oliver-Sheaky/make-my-server/.github/workflows/healthcheck.workflow.tmpl.yml@master'
    with:
      service_name: 'nginx'
  Health-checks-traefik:
    uses: 'Oliver-Sheaky/make-my-server/.github/workflows/healthcheck.workflow.tmpl.yml@master'
    with:
      service_name: 'traefik'
  Lint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v5'
      - name: 'Install yamllint'
        run: 'pip install yamllint'
      - name: 'yamllint version'
        run: 'yamllint --version'
      - name: 'Lint YAML files'
        run: 'yamllint --format github .'
